---
- name: Install Drupal and Drush with MariaDB, Nginx, and PHP-FPM
  hosts: all
  user: root
  # Uncoment this to use with vagrant
  # If using vagrant you can add "config.ssh.forward_agent = true" to your Vagrantfile to clone repos in private servers
  #remote_user: vagrant
  #sudo: yes

  vars:
    sites:
      drupal8.axai.org:
        git: "http://git.drupal.org/project/drupal.git"
        version: 8.0.x
        dbname: drupal8
        dbuser: drupal8
        dbpass: test

  roles:
    - common
    - mysql 
    - nginx
    - php-fpm
    - drush
    - drupal
